@import url('reset.css');
#outer-wrapper{
  display:flex;
  flex-flow:row wrap;
  width: 1200px;
  height:800px;
  margin:0 auto ;
  border:5px solid black;
  padding: 10px;
}
#vs{
  width:200px;
  height:200px;
  border:0px ;
  margin: auto;
}
.movie-poster{
  width:400px;
  height:600px;
  border:1px solid black;
  padding: 10px;
}
#random-btn{
    background-color: red;
    width:200px;
    height:50px;
    border-radius:20px;
    color: white;
    text-transform: uppercase;
    text-align:center;
    line-height: 50px;
    font-family: Helvetica;
    font-size: 25px;
    font-weight:700;
    box-shadow:2px 15px 20px #100000;
    cursor: pointer;
    margin:auto;
}